@import '../theme.scss';

.app {
  overflow: hidden;
  background: $bg;
  color: $fg;
  height: 100vh;
  .prompt {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .dataContainer {
    text-transform: lowercase;
    position: fixed;
    z-index: 100;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg;
    font-size: 1rem;
    color: $fg;
    .data {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      p {
        font-size: 0.85rem;
        opacity: 0.9;
      }
      .button {
        margin-top: auto;
        width: 100%;
        cursor: pointer;
        text-align: center;
      }
      .timestamp {
        font-size: 0.85rem;
      }
    }
  }
}

