$bg: #282c34;
$fg: #fff;

.container {
  position: absolute;
  z-index: 1;

  .marker {
    fill: $bg;
  }

  .stopTitle {
    &, * { cursor: pointer; }
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    text-align: center;
    white-space: pre;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: $fg;
    background: $bg;
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      background: $bg;
      left: calc(50% - 0.5rem);
      z-index: -1;
      width: 1rem;
      height: 1rem;
      transform: translateY(1rem) rotate(45deg);
    }
  }
}
