$bg: #282c34;
$fg: #fff;

.App {
  overflow: hidden;
  background: $bg;
  height: 100vh;
  .data {
    background: $bg;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $fg;
    .button {
      cursor: pointer;
    }
    .timestamp {
      font-size: 0.5rem;
    }
  }
}

