@import '../../../theme.scss';

.container {
  position: absolute;

  .marker {
    position: absolute;
    width: 2.5rem;
    transform: translateX(-50%) translateY(-85%);
    fill: $bg;
    z-index: 0;
    opacity: 0.5;
  }

  .stop {
    &, * { cursor: pointer; }
    position: absolute;
    transform: translateY(-50%);
    border: 0.25rem solid $fg;
    z-index: 1;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    left: calc(50% - 0.625rem);
    border-radius: 50%;
    color: $fg;
    background: $bg;
    opacity: 0.75;
    &:hover{
      z-index: 2;
    }
  }
}
